
body{
  padding:0;
  margin:0;
  background-color:#090705;
	font-family: 'Spectral SC', serif;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button1{
  height:28px;
  background:#afa36e;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:white;
	font-family: 'Spectral SC', serif;
}

.button1:hover{
	background-color: black;
}
.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#090705;
  color:#9d9998;
  padding-top:30px;
  min-height:70px;
  border-bottom:#afa36e 3px solid;
}

header a, button{
  color:#afa36e;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top: -10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:400px;
  text-align:center;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
	font-style: italic;
}
 #desc{
	 float: right;
 }

/* Newsletter */
#newsletter{
  padding:15px;
  color:#afa36e;
  background:#211d1a
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:-5px;
	background-color: #afa36e;
	margin-bottom: -20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width:100%;
	height: 100%;
 	margin-top: 10px;
}

#img1 {
	height:168.75px;

}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#787672;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar, img, #desc{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;

  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

#bigpic{
	 max-width: 100%;
	 height: 100%;
	 width: auto\9; /* ie8 */
 }

.button{
	background: #090705;
	border:0;
	font-family: 'Spectral SC', serif;
}


.modal{

	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content{
	background-color: #f4f4f4;
	margin: 20% auto;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
	animation-name: modalopen;
	animation-duration: 1s;

}

.closeBtn{
	color:#ccc;
	float: right;
	font-size: 30px;
}

.closeBtn: hover, .closeBtn: focus{
	color:#000;
	text-decoration: none;
	cursor: pointer;

}

@keyframes modalopen {
	from{opacity: 0}
	to{opacity: 1}
}

.modal-header{
	background:#afa36e;
	padding: 15px;
	color: #090705;

}

.modal-body{
	padding: 10px 20px;

}

a: hover{
	background:red;
}
