header{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}


  img {
      display: block;
      position: absolute;
      margin: auto;
      width: 60%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }

#img{
  z-index: 1;
}


#arrow{
  z-index: 3;
  height: 5%;
  width: 3%;
  margin-right: 22%;

}
