body{
  background-color: black;

}


header{
  /* margin: auto; */
  display:block;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
  margin-top: 1%;
  margin-left: 24%;
  text-align: center;
  z-index: 100;
  position:absolute;
}

h2 {
  font-family: 'Creepster', sans-serif;
  font-size: 5vw;
}
  #img {
      display: block;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

  }

  .arrow{
    display: block;

    position: absolute;
    z-index: 3;
    height: 7%;
    width: 4%;
    margin-top: 25%;


  }

#forwardArrow{

  /* margin-right:18%; */
  margin-left: 80%;
}

#backArrow{
  margin-left: 15%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.dead{
  background-color: #8A0707;
  transition: all 2s ease-out;
}

.hide{
  display: none;
}

.transparent{
  opacity: 0.2;
  transition: all 2s ease-out;
  background-color: #8A0707;

}

.room{
  height: 120%;
  width: 100%;
}

.svg{
  display: none;
}


.svgAppear{
  z-index: 999;
  position: absolute;
  background-color: white;
}

@media (min-height:315px) and (max-width:600px) {

    .arrow{
      /* position:fixed; */
      margin:auto;
      width:6%;
      height:8%;
      margin-top:70%;
    }
    h2 {
      color:white;
    }
